# Ignoriere das .venv-Verzeichnis (virtuelle Umgebung)
.venv/

# Ignoriere das data-Verzeichnis
data/

# Ignoriere Python-Bytecode-Dateien
__pycache__/
*.pyc
*.pyo

# Ignoriere Konfigurationsdateien für Editoren wie IDEs (z. B. PyCharm)
.idea/

# Ignoriere Log-Dateien
*.log

# Ignoriere temporäre Dateien von macOS und Windows
.DS_Store
Thumbs.db